__pycache__/
logs/
save-dir/
.vscode/
.venv/
local-trials/
configs/2021/npy/ 
plots/
analysis_logs/
analysis_logs2/
models/ 
configs/2021/newnpy/ 
configs/2021/newnpy2/ 
rs_npy/ 
hammer_plots/ 
sumguesser-logs
sumguesser-save-dir